  <main>
    <div class="container">
      <h1 class="main-title">Cat Facts</h1>

      <div class="wrapper">
        <div class="left">
          <h3>Facts List</h3>
          <div class="facts">
            <ul>

              <li *ngFor="let fact of facts;let index = index" (click)="method1CallForClick(index, 'facts')">Fact
                {{fact.id + 1}} </li>

            </ul>
          </div>

        </div>
        <div class="right">
          <h3>Details Panel</h3>
          <div class="details">
            <div class="detail-item" *ngFor="let detail of details;let index = index" (click)="method1CallForClick(index, 'details')">
            <p>{{detail.text}}</p>
            <p>{{detail.user}}</p>
            <p>{{detail.rating}}</p>
          </div>
          <button class="save-btn" (click) = sendToServer()>Save</button>
        </div>
      </div>
    </div>

    </div>

  </main>
